generate_lte_data/lte_data/BCH_63_36_ETU_data_test_9_18.mat
generate_lte_data/lte_data/BCH_63_36_ETU_data_train_9_18.mat
generate_lte_data/lte_data/BCH_63_36_ETU_data_train_enc_9_18.mat
generate_lte_data/lte_data/BCH_63_36_ETU_data_train_llr_9_18.mat
generate_lte_data/lte_data/BCH_63_36_OTA_data_test.mat
generate_lte_data/lte_data/BCH_63_36_OTA_data_train_1_4.mat
